{{!< default}}

<main class="content p2 p-responsive wrap" role="main">
    <article class="{{post_class}}">

        {{#post}}

        <section class="post-content">
            {{content}}
        </section>

        {{/post}}

    <div>&nbsp;</div>
    <div class="home">
        <a href="{{@blog.url}}">Home</a>
    </div>

    </article>

</main>
